@font-face {
  font-family: digital;
  src: url(./fonts/digital-7.ttf);
}

#container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#calculator {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #333;
  border-radius: 5px;
}

input {
  width: 100%;
  border: none;
  background: #bbb;
  font-family: digital;
  font-weight: 700;
  font-size: 26px;
}

button {
  height: 50px !important;
  font-size: 18px !important;
}
button:focus {
  box-shadow: none !important;
}

#calculator-body {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-gap: 7px;
  grid-template-areas:
    ". . answer clear"
    "left-bracket right-bracket backspace add"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three divide"
    "decimal zero exponent equals";
}

#zero {
  grid-area: zero;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#add {
  grid-area: add;
}
#subtract {
  grid-area: subtract;
}
#multiply {
  grid-area: multiply;
}
#divide {
  grid-area: divide;
}

#equals {
  grid-area: equals;
}

#clear {
  grid-area: clear;
}

#left-bracket {
  grid-area: left-bracket;
}

#right-bracket {
  grid-area: right-bracket;
}

#decimal {
  grid-area: decimal;
}

#answer {
  grid-area: answer;
}

#backspace {
  grid-area: backspace;
}

#exponent {
  grid-area: exponent;
}

#author-comment {
  position: absolute;
  bottom: 5px;
  text-align: center;
}
#author-comment > span {
  color: red;
}

#display-warning {
  display: none;
}

@media (max-height: 560px) {
  #calculator {
    display: none;
  }
  #display-warning {
    display: block;
  }
}
